body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    margin: 0px;
}

.header-image {
    width: 200px;
    height: 200px;
}

header {
    background-color: rgb(51, 51, 247);
    align-items: center;
    padding: 0px 0px 10px 0px;
    display: flex;
}

.content {
    padding: 10px 10px 10px 10px;
}

.post {
    border: 1px;
}

.site-title a {
    font-family: 'SilkScreen', sans-serif;
    color: rgb(61, 208, 245);
    padding: 10px 10px 20px 10px;
    height: 200px;
}

.post {
    color: black;
}

.nav-menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 10px;
    background-color: #418dea;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.nav-menu-button:hover {
    background-color: rgb(139, 139, 139)
}
